.nodes{
    
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.description{
    border: 1px solid #000;
}

.dndnode{
    font-weight: 600;
    border-collapse: collapse;
    border: 1px solid #000;
}

.workflow-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.workflow-buttons button{
    padding: 5px 15px;
    background-color: #1c2230;
    border: 1px solid #1c2230;
    border-radius: 4px;
    outline: none;
    color: #fff;
    cursor: pointer;
}